<style>
    .sidebar {
        width: 20.7vw;
        height: 100vh;
        padding: 2rem 1.5rem;

        border-right: 1px solid lightgray;
    }

    .sidebar .home-logo {
        color: black;
        font-size: 1.4rem;
        font-weight: 750;
    }

    .sidebar nav {
        height: 100%;
        padding: 2rem 0;
    }

    .sidebar ul {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .sidebar ul li:last-child {
        margin-top: auto;
    }

    .sidebar ul li a {
        padding: 1rem 0;
        color: black;
        display: flex;
        align-items: center;
    }
    
    .sidebar ul li a svg,
    .sidebar ul li a img {
        width: 24px;
        height: 24px;
    }
    
    .sidebar ul li a img {
        border-radius: 12px;
    }

    .sidebar ul li a span {
        height: min-content
    }

    .sidebar ul li a span {
        padding-left: 1rem;
    }
</style>


<div class="sidebar">
    <a href="/" class="home-logo">
        <span>ğ“ğ“¶ğ“¼ğ“½ğ“»ğ“ªğ“¶ğ“°ğ“»ğ“ªğ“¶</span>
    </a>
    <nav>
        <ul>
            <li>
                <a href="/">
                    <svg aria-label="Home" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M9.005 16.545a2.997 2.997 0 0 1 2.997-2.997A2.997 2.997 0 0 1 15 16.545V22h7V11.543L12 2 2 11.543V22h7.005Z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/search">
                    <svg aria-label="Search" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M19 10.5A8.5 8.5 0 1 1 10.5 2a8.5 8.5 0 0 1 8.5 8.5Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="16.511" x2="22" y1="16.511" y2="22"></line></svg>
                    <span>Search</span>
                </a>
            </li>
            <li>
                <a href="/posts">
                    <svg aria-label="Explore" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><polygon fill="none" points="13.941 13.953 7.581 16.424 10.06 10.056 16.42 7.585 13.941 13.953" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon><polygon fill-rule="evenodd" points="10.06 10.056 13.949 13.945 7.581 16.424 10.06 10.056"></polygon><circle cx="12.001" cy="12.005" fill="none" r="10.5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle></svg>
                    <span>Explore</span>
                </a>
            </li>
            <li>
                <a href="/posts/new">
                    <svg aria-label="New post" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M2 12v3.45c0 2.849.698 4.005 1.606 4.944.94.909 2.098 1.608 4.946 1.608h6.896c2.848 0 4.006-.7 4.946-1.608C21.302 19.455 22 18.3 22 15.45V8.552c0-2.849-.698-4.006-1.606-4.945C19.454 2.7 18.296 2 15.448 2H8.552c-2.848 0-4.006.699-4.946 1.607C2.698 4.547 2 5.703 2 8.552Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="6.545" x2="17.455" y1="12.001" y2="12.001"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12.003" x2="12.003" y1="6.545" y2="17.455"></line></svg>
                    <span>Post</span>
                </a>
            </li>
            <li>
                <a href="/users/me">
                    <img src="https://placehold.co/24x24" alt="logged user profile picture">
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="/login">
                    <svg aria-label="Settings" fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24"><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="3" x2="21" y1="4" y2="4"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="3" x2="21" y1="12" y2="12"></line><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="3" x2="21" y1="20" y2="20"></line></svg>
                    <span>Login</span>
                </a>
            </li>
        </ul>
    </nav>
</div>