<style>
    .posts {
        width: 100%;
        max-width: 60.75rem;
        display: flex;
        flex-wrap: wrap;
    }

    .post {
        padding: .125rem;
        flex-basis: 33.3%;
        max-width: 33%;
    }

    .post img {
        width: 100%;
    }
</style>

<div class="posts">
    <% posts.forEach(post => { %>
        <div class="post">
            <a href="/posts/<%= post.id %>">
                <img src="data:image/png;base64,<%= post.images[0].image %>" alt="<%= post.id %>">
            </a>
        </div>
    <% }) %>
</div>